body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: auto;
}

#divContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#inputPass{
    padding: 7px;
    border-radius: 10px;
}

#textSecurity{
    font-size: 1.2em;
    font-weight: bold;
}