body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: auto;
    font-size: 1.5em;
}

#divContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#inputPass {
    padding: 7px;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(222, 72, 187);
}

#textSecurity {
    font-size: 1em;
    font-weight: bold;
}
::placeholder {
    color: rgb(109, 124, 132);
}
#inputuser {
    padding: 7px;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(222, 72, 187);
}
button {
    width: 180px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(222, 72, 187);
}
.botonazul {
    color: rgb(105, 105, 213);
}
